.App {
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: #333;
  padding: 2rem;
}

header {
  background: #282c34;
  color: white;
  padding: 3rem 0;
  border-radius: 1rem;
}

section {
  margin: 3rem 0;
}

a {
  color: #61dafb;
  text-decoration: none;
}

footer {
  margin-top: 3rem;
  font-size: 0.9rem;
  color: #777;
}
